openapi: 3.1.0
info:
  title: UniFi API
  description: |-
    The UniFi API was created to enable developers to programmatically monitor and manage UniFi deployments at scale. It provides robust tools to access and control your UniFi devices’ data, allowing you to retrieve detailed information, monitor performance, and manage your network infrastructure efficiently.  
 
    UniFi API Version 0.1 centers around extracting data from the UniFi Site Manager (unifi.ui.com). Future versions will expand support to include more granular configurations, allowing management of individual sites and the devices within those sites.  
 
    Your feedback is crucial in helping us enhance and customize the API to better meet your needs.

  termsOfService: http://swagger.io/terms/
  version: 0.0.1
servers:
  - url: https://api.ui.com
paths:
  /ea/hosts:
    get:
      tags:
        - Host
      summary: List Hosts
      description: |-
        Retrieve a list of all hosts associated with the UI account making the API call.

        **Note**: The structure of userData and reportedState may vary depending on the UniFi OS or Network Server version. The example provided is based on UniFi OS 4.0.6.
      operationId: listHosts
      parameters:
        - in: header
          name: X-API-KEY
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hosts'
        '401':
          description: Unauthorized access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate Limit Reached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              schema:
                $ref: '#/components/schemas/Error'
          headers:
            Retry-After:
              schema:
                type: string
                examples: [5]
        '500':
          description: Failed to list hosts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              schema:
                $ref: '#/components/schemas/Error'
        '502':
          description: Bad gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              schema:
                $ref: '#/components/schemas/Error'
  /ea/hosts/{id}:
    get:
      tags:
        - Host
      summary: Get Host by ID
      description: |-
        Retrieve detailed information about a specific host by ID.

        **Note**: The structure of userData and reportedState may vary depending on the UniFi OS or Network Server version. The example provided is based on UniFi OS 4.0.6.
      operationId: getHost
      parameters:
        - in: header
          name: X-API-KEY
          schema:
            type: string
          required: true
        - in: path
          name: id
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostId'
        '401':
          description: Unauthorized access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate Limit Reached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              schema:
                $ref: '#/components/schemas/Error'
          headers:
            Retry-After:
              schema:
                type: string
                examples: [5]
        '500':
          description: Failed to get host
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              schema:
                $ref: '#/components/schemas/Error'
        '502':
          description: Bad gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              schema:
                $ref: '#/components/schemas/Error'
  /ea/sites:
    get:
      tags:
        - Sites
      summary: List Sites
      description: |-
        Retrieve a list of all sites associated with the UI account making the API call.

        **Note**: The structure of meta and statistics may vary depending on the UniFi OS or Network Server version. The example provided is based on UniFi OS 4.0.6.
      operationId: getSites
      parameters:
        - in: header
          name: X-API-KEY
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sites'
        '401':
          description: Unauthorized access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate Limit Reached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              schema:
                $ref: '#/components/schemas/Error'
          headers:
            Retry-After:
              schema:
                type: string
                examples: [5]
        '500':
          description: Failed to get host
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              schema:
                $ref: '#/components/schemas/Error'
        '502':
          description: Bad gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              schema:
                $ref: '#/components/schemas/Error'
  /ea/devices:
    get:
      tags:
        - Devices
      summary: List Devices
      description: |-
        Retrieve a list of UniFi devices managed by hosts where the UI account making the API call is the owner or a super admin.

        **Note**: The structure of devices.uidb may vary depending on the UniFi OS or Network Server version. The example provided is based on UniFi OS 4.0.6.
      operationId: getDevices
      parameters:
        - in: header
          name: X-API-KEY
          schema:
            type: string
          required: true
        - in: query
          name: hostIds
          schema:
            type: array
            items:
              type: string
        - in: query
          name: time
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllSiteDevices'
        '401':
          description: Unauthorized access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate Limit Reached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              schema:
                $ref: '#/components/schemas/Error'
          headers:
            Retry-After:
              schema:
                type: string
                examples: [5]
        '500':
          description: Failed to get host
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              schema:
                $ref: '#/components/schemas/Error'
        '502':
          description: Bad gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              schema:
                $ref: '#/components/schemas/Error'
  /ea/isp-metrics/{type}:
    get:
      tags:
        - ISP
        - Metrics
      summary: Get ISP Metrics
      description: |-
        Retrieve ISP metrics data for all sites linked to the UI account’s API key. 5-minute metrics are available for at least 24 hours, and 1-hour metrics for at least 30 days.
      operationId: getISPMetrics
      parameters:
        - in: header
          name: X-API-KEY
          schema:
            type: string
          required: true
          description: API key
        - in: path
          name: type
          schema:
            type: string
            enum: [5m, 1h]
            default: 5m
          required: true
          description: Specify whether metrics are returned using 5m or 1h intervals.
        - in: query
          name: beginTimeStamp
          schema:
            type: string
          description: The earliest timestamp to start retrieving data from.
        - in: query
          name: endTimeStamp
          schema:
            type: string
          description: The latest timestamp up to which data will be retrieved.
        - in: query
          name: duration
          schema:
            type: string
          description: Specifies the time range of metrics to be retrieved, starting from when the request is made. Supports 24h for 5-minute metrics, and 7d or 30d for 1-hour metrics. This **cannot** be used with `beginTimestamp` or `endTimestamp`.
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ISPMetric'
        '401':
          description: Unauthorized access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate Limit Reached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              schema:
                $ref: '#/components/schemas/Error'
          headers:
            Retry-After:
              schema:
                type: string
                examples: [5]
        '500':
          description: Failed to get host
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              schema:
                $ref: '#/components/schemas/Error'
        '502':
          description: Bad gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              schema:
                $ref: '#/components/schemas/Error'
  /ea/isp-metrics/{type}/query:
    post:
      tags:
        - ISP
        - Metrics
      summary: Query ISP Metrics
      description: |-
        Retrieve ISP metrics data based on specific query parameters. 5-minute metrics are available for at least 24 hours, and 1-hour metrics for at least 30 days.

        **Note**: If the UI account lacks access to all requested sites, a 502 error is returned. If partial access is granted, the response will include `status: partialSuccess`.
      operationId: queryISPMetrics
      parameters:
        - in: header
          name: X-API-KEY
          schema:
            type: string
          required: true
          description: API key
        - in: path
          name: type
          schema:
            type: string
            enum: [5m, 1h]
            default: 5m
          required: true
          description: Specify whether metrics are returned using 5m or 1h intervals.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryISP'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ISPMetrics'
        '401':
          description: Unauthorized access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate Limit Reached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              schema:
                $ref: '#/components/schemas/Error'
          headers:
            Retry-After:
              schema:
                type: string
                examples: [5]
        '500':
          description: Failed to get host
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              schema:
                $ref: '#/components/schemas/Error'
        '502':
          description: Bad gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Hosts:
      type: object
      properties:
        traceId:
          type: string
          examples: [a7dc15e0eb4527142d7823515b15f87d]
        message:
          type: string
          examples: [examples]
        httpStatusCode:
          type: integer
          examples: [200]
        data:
          type: array
          items:
            $ref: '#/components/schemas/Host'
    HostId:
      type: object
      properties:
        traceId:
          type: string
          examples: [a7dc15e0eb4527142d7823515b15f87d]
        message:
          type: string
          examples: [examples]
        httpStatusCode:
          type: integer
          examples: [200]
        data:
          $ref: '#/components/schemas/Host'
    Host:
      type: object
      properties:
        hardwareId:
          type: string
        id:
          type: string
        ipAddress:
          type: string
        isBlocked:
          type: boolean
        lastConnectionStateChange:
          type: string
        latestBackupTime:
          type: string
        owner:
          type: boolean
        registrationTime:
          type: string
        type:
          type: string
        reportedState:
          $ref: '#/components/schemas/ReportedState'
        userData:
          $ref: '#/components/schemas/UserData'
    ApplicationInfo:
      type: object
      properties:
        owned:
          type: boolean
        required:
          type: boolean
        supported:
          type: boolean
    Applications:
      type: object
      properties:
        access:
          $ref: '#/components/schemas/ApplicationInfo'
        connect:
          $ref: '#/components/schemas/ApplicationInfo'
        innerspace:
          $ref: '#/components/schemas/ApplicationInfo'
        network:
          $ref: '#/components/schemas/ApplicationInfo'
        protect:
          $ref: '#/components/schemas/ApplicationInfo'
        talk:
          $ref: '#/components/schemas/ApplicationInfo'
    RoleAttributes:
      type: object
      properties:
        applications:
          $ref: '#/components/schemas/Applications'
        candidateRoles:
          type: array
          items:
            type: string
        connectedState:
          type: string
        connectedStateLastChanged:
          type: string
    ConsoleGroupMember:
      type: object
      properties:
        mac:
          type: string
        role:
          type: string
        roleAttributes:
          $ref: '#/components/schemas/RoleAttributes'
        sysID:
          type: integer
    Webrtc:
      type: object
      properties:
        iceRestart:
          type: boolean
        mediaStreams:
          type: boolean
        twoWayAudio:
          type: boolean
    Floorplan:
      type: object
      properties:
        canEdit:
          type: boolean
        canView:
          type: boolean
    UserData:
      type: object
      properties:
        apps:
          type: array
          items:
            type: string
        consoleGroupMembers:
          type: array
          items:
            $ref: '#/components/schemas/ConsoleGroupMember'
        controllers:
          type: array
          items:
            type: string
        email:
          type: string
        features:
          type: object
          properties:
            deviceGroups:
              type: boolean
            floorplan:
              $ref: '#/components/schemas/Floorplan'
            manageApplications:
              type: boolean
            notifications:
              type: boolean
            pion:
              type: boolean
            webrtc:
              $ref: '#/components/schemas/Webrtc'
        fullName:
          type: string
        localId:
          type: string
        permissions:
          type: object
          properties:
            network.management:
              type: array
              items:
                type: string
            protect.management:
              type: array
              items:
                type: string
            system.management.location:
              type: array
              items:
                type: string
            system.management.user:
              type: array
              items:
                type: string
        role:
          type: string
        roleId:
          type: string
        status:
          type: string
    App:
      type: object
      properties:
        controllerStatus:
          type: string
        name:
          type: string
        port:
          type: integer
          format: int32
        swaiVersion:
          type: integer
          format: int32
        type:
          type: string
        version:
          type: string
    Controller:
      type: object
      properties:
        abridged:
          type: boolean
        controllerStatus:
          type: string
        initialDeviceListSynced:
          type: boolean
        installState:
          type: string
        isConfigured:
          type: boolean
        isInstalled:
          type: boolean
        isRunning:
          type: boolean
        name:
          type: string
        port:
          type: integer
          format: int32
        releaseChannel:
          type: string
        required:
          type: boolean
        state:
          type: string
        status:
          type: string
        statusMessage:
          type: string
        swaiVersion:
          type: integer
          format: int32
        type:
          type: string
        uiVersion:
          type: string
        unadoptedDevices:
          type: array
          items:
            type: object
            properties:
        updatable:
          type: boolean
        updateAvailable:
          type: string
          format: nullable
        version:
          type: string
        features:
          type: object
          properties:
            stackable:
              type: boolean
        installable:
          type: boolean
        isGeofencingEnabled:
          type: boolean
        restorePercentage:
          type: integer
          format: int32
    Hardware:
      type: object
      properties:
        bom:
          type: string
        cpu.id:
          type: string
        debianCodename:
          type: string
        firmwareVersion:
          type: string
        hwrev:
          type: integer
          format: int32
        mac:
          type: string
        name:
          type: string
        qrid:
          type: string
        reboot:
          type: string
        serialno:
          type: string
        shortname:
          type: string
        subtype:
          type: string
        sysid:
          type: integer
          format: int32
        upgrade:
          type: string
        uuid:
          type: string
    ReportedStateFeatures:
      type: object
      properties:
        cloud:
          type: object
          properties:
            applicationEvents:
              type: boolean
            applicationEventsHttp:
              type: boolean
        cloudBackup:
          type: boolean
        deviceList:
          type: object
          properties:
            autolinkDevices:
              type: boolean
            partialUpdates:
              type: boolean
            ucp4Events:
              type: boolean
        directRemoteConnection:
          type: boolean
        hasGateway:
          type: boolean
        hasLCM:
          type: boolean
        hasLED:
          type: boolean
        infoApis:
          type: object
          properties:
            firmwareUpdate:
              type: boolean
        isAutomaticFailoverAvailable:
          type: boolean
        mfa:
          type: boolean
        notifications:
          type: boolean
        sharedTokens:
          type: boolean
        supportForm:
          type: boolean
        teleport:
          type: boolean
        teleportState:
          type: string
        uidService:
          type: boolean
    ReportedState:
      type: object
      properties:
        anonid:
          type: string
        apps:
          type: array
          items:
            $ref: '#/components/schemas/App'
        availableChannels:
          type: array
          items:
            type: string
        consolesOnSameLocalNetwork:
          type: array
          items:
            type: object
            properties:
        controller_uuid:
          type: string
        controllers:
          type: array
          items:
            $ref: '#/components/schemas/Controller'
        country:
          type: integer
          format: int32
        deviceErrorCode:
          type: string
          format: nullable
        deviceState:
          type: string
        deviceStateLastChanged:
          type: integer
          format: int32
        directConnectDomain:
          type: string
        features:
          $ref: '#/components/schemas/ReportedStateFeatures'
        firmwareUpdate:
          type: object
          properties:
            latestAvailableVersion:
              type: string
              format: nullable
        hardware:
          $ref: '#/components/schemas/Hardware'
        host_type:
          type: integer
          format: int32
        hostname:
          type: string
        internetIssues5min:
          type: object
          properties:
            periods:
              type: array
              items:
                type: object
                properties:
                  index:
                    type: integer
                    format: int32
        ip:
          type: string
        ipAddrs:
          type: array
          items:
            type: string
        isStacked:
          type: boolean
        location:
          type: object
          properties:
            lat:
              type: number
            long:
              type: number
            radius:
              type: integer
              format: int32
            text:
              type: string
        mac:
          type: string
        mgmt_port:
          type: integer
          format: int32
        name:
          type: string
        releaseChannel:
          type: string
        state:
          type: string
        timezone:
          type: string
        uidb:
          type: object
          properties:
            guid:
              type: string
            id:
              type: string
            images:
              type: object
              properties:
                default:
                  type: string
                nopadding:
                  type: string
                topology:
                  type: string
        unadoptedUnifiOSDevices:
          type: array
          items:
            type: object
            properties:
        version:
          type: string
    Error:
      type: object
      properties:
        code:
          type: string
        httpStatusCode:
          type: integer
        message:
          type: string
        traceId:
          type: string
    SiteDeviceCounts:
      type: object
      properties:
        criticalNotification:
          type: integer
          format: int32
        gatewayDevice:
          type: integer
          format: int32
        guestClient:
          type: integer
          format: int32
        lanConfiguration:
          type: integer
          format: int32
        offlineDevice:
          type: integer
          format: int32
        offlineGatewayDevice:
          type: integer
          format: int32
        offlineWifiDevice:
          type: integer
          format: int32
        offlineWiredDevice:
          type: integer
          format: int32
        pendingUpdateDevice:
          type: integer
          format: int32
        totalDevice:
          type: integer
          format: int32
        wanConfiguration:
          type: integer
          format: int32
        wifiClient:
          type: integer
          format: int32
        wifiConfiguration:
          type: integer
          format: int32
        wifiDevice:
          type: integer
          format: int32
        wiredClient:
          type: integer
          format: int32
        wiredDevice:
          type: integer
          format: int32
    InternetIssues:
      type: object
      properties:
        highLatency:
          type: boolean
        index:
          type: integer
          format: int32
        latencyAvgMs:
          type: integer
          format: int32
        latencyMaxMs:
          type: integer
          format: int32
    SiteDeviceInfo:
      type: object
      properties:
        desc:
          type: string
        gatewayMac:
          type: string
        name:
          type: string
        timezone:
          type: string
    Site:
      type: object
      properties:
        hostId:
          type: string
        isOwner:
          type: boolean
        meta:
          $ref: '#/components/schemas/SiteDeviceInfo'
        permission:
          type: string
        siteId:
          type: string
        statistics:
          type: object
          properties:
            counts:
              $ref: '#/components/schemas/SiteDeviceCounts'
            internetIssues:
              type: array
              items:
                $ref: '#/components/schemas/InternetIssues'
            ispInfo:
              type: object
              properties:
                name:
                  type: string
                organization:
                  type: string
            percentages:
              type: object
              properties:
                txRetry:
                  type: number
                wanUptime:
                  type: number
        subscriptionEndTime:
          type: string
    Sites:
      type: object
      properties:
        httpStatusCode:
          type: integer
          format: int32
        traceId:
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/Site'
    SiteDevices:
      type: object
      properties:
        devices:
          type: array
          items:
            $ref: '#/components/schemas/Device'
        hostId:
          type: string
        hostName:
          type: string
        updatedAt:
          type: string
    AllSiteDevices:
      type: object
      properties:
        httpStatusCode:
          type: integer
          format: int32
        traceId:
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/SiteDevices'
    Device:
      type: object
      properties:
        adoptionTime:
          type: string
          format: nullable
        firmwareStatus:
          type: string
        id:
          type: string
        ip:
          type: string
        isConsole:
          type: boolean
        isManaged:
          type: boolean
        mac:
          type: string
        model:
          type: string
        name:
          type: string
        note:
          type: string
          format: nullable
        productLine:
          type: string
        shortname:
          type: string
        startupTime:
          type: string
        status:
          type: string
        uidb:
          type: object
          properties:
            guid:
              type: string
            id:
              type: string
            images:
              type: object
              properties:
                default:
                  type: string
                nopadding:
                  type: string
                topology:
                  type: string
        updateAvailable:
          type: string
          format: nullable
        version:
          type: string
    ISPMetric:
      type: object
      properties:
        httpStatusCode:
          type: integer
          format: int32
        traceId:
          type: string
        data:
          type: array
          properties:
            items:
              $ref: '#/components/schemas/ISPData'
    Period:
      type: object
      properties:
        data:
          type: object
          properties:
            wan:
              type: object
              properties:
                avgLatency:
                  type: integer
                  format: int32
                download_kbps:
                  type: integer
                  format: int32
                downtime:
                  type: integer
                  format: int32
                ispAsn:
                  type: string
                ispName:
                  type: string
                maxLatency:
                  type: integer
                  format: int32
                packetLoss:
                  type: integer
                  format: int32
                upload_kbps:
                  type: integer
                  format: int32
                uptime:
                  type: integer
                  format: int32
        metricTime:
          type: string
        version:
          type: string
    ISPData:
      type: object
      properties:
        metricType:
          type: string
        periods:
          type: array
          items:
            $ref: '#/components/schemas/Period'
        hostId:
          type: string
        siteId:
          type: string
    ISPMetrics:
      type: object
      properties:
        data:
          type: object
          properties:
            metrics:
              type: array
              items:
                $ref: '#/components/schemas/ISPData'
        httpStatusCode:
          type: integer
          format: int32
        traceId:
          type: string
    Properties:
      type: object
      properties:
        beginTimestamp:
          type: string
        endTimestamp:
          type: string
        hostId:
          type: string
        siteId:
          type: string
    QueryISP:
      type: object
      properties:
        site:
          type: array
          items:
            $ref: '#/components/schemas/Properties'


  securitySchemes:
    api_key:
      type: apiKey
      name: X-API-KEY
      in: header
