openapi: 3.1.0
info:
  title: UniFi API
  description: |-
    The UniFi API was created to enable developers to programmatically monitor and manage UniFi deployments at scale. It provides robust tools to access and control your UniFi devices’ data, allowing you to retrieve detailed information, monitor performance, and manage your network infrastructure efficiently.  
 
    UniFi API Version 0.1 centers around extracting data from the UniFi Site Manager (unifi.ui.com). Future versions will expand support to include more granular configurations, allowing management of individual sites and the devices within those sites.  
 
    Your feedback is crucial in helping us enhance and customize the API to better meet your needs.

  termsOfService: http://swagger.io/terms/
  version: 0.0.1
servers:
  - url: https://api.ui.com
paths:
  /ea/hosts:
    get:
      tags:
        - Host
      summary: List Hosts
      description: |-
        Retrieve a list of all hosts associated with the UI account making the API call.

        **Note**: The structure of userData and reportedState may vary depending on the UniFi OS or Network Server version. The example provided is based on UniFi OS 4.0.6.
      operationId: listHosts
      parameters:
        - in: header
          name: X-API-KEY
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hosts'
        '401':
          description: Unauthorized access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate Limit Reached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              schema:
                $ref: '#/components/schemas/Error'
          headers:
            Retry-After:
              schema:
                type: string
                examples: [5]
        '500':
          description: Failed to list hosts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              schema:
                $ref: '#/components/schemas/Error'
        '502':
          description: Bad gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              schema:
                $ref: '#/components/schemas/Error'
  /ea/hosts/{id}:
    get:
      tags:
        - Host
      summary: Get Host by ID
      description: |-
        Retrieve detailed information about a specific host by ID.

        **Note**: The structure of userData and reportedState may vary depending on the UniFi OS or Network Server version. The example provided is based on UniFi OS 4.0.6.
      operationId: getHost
      parameters:
        - in: header
          name: X-API-KEY
          schema:
            type: string
          required: true
        - in: path
          name: id
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostId'
        '401':
          description: Unauthorized access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate Limit Reached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              schema:
                $ref: '#/components/schemas/Error'
          headers:
            Retry-After:
              schema:
                type: string
                examples: [5]
        '500':
          description: Failed to get host
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              schema:
                $ref: '#/components/schemas/Error'
        '502':
          description: Bad gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Hosts:
      type: object
      properties:
        traceId:
          type: string
          examples: [a7dc15e0eb4527142d7823515b15f87d]
        message:
          type: string
          examples: [examples]
        httpStatusCode:
          type: integer
          examples: [200]
        data:
          type: array
          items:
            properties:
              hardwareId:
                type: string
              id:
                type: string
              ipAddress:
                type: string
              isBlocked:
                type: boolean
              lastConnectionStateChange:
                type: string
              latestBackupTime:
                type: string
              owner:
                type: boolean
              registrationTime:
                type: string
              type:
                type: string
              reportedState:
                $ref: '#/components/schemas/ReportedState'
              userData:
                $ref: '#/components/schemas/UserData'
    HostId:
      type: object
      properties:
        traceId:
          type: string
          examples: [a7dc15e0eb4527142d7823515b15f87d]
        message:
          type: string
          examples: [examples]
        httpStatusCode:
          type: integer
          examples: [200]
        data:
          type: object
          properties:
            hardwareId:
              type: string
            id:
              type: string
            ipAddress:
              type: string
            isBlocked:
              type: string
            lastConnectionStateChange:
              type: string
            latestBackupTime:
              type: string
            owner:
              type: boolean
            registrationTime:
              type: string
            type:
              type: string
            reportedState:
              $ref: '#/components/schemas/ReportedState'
            userData:
              $ref: '#/components/schemas/UserData'
    UserData:
      type: object
      properties:
        apps:
          type: array
          items:
            type: string
        consoleGroupMembers:
          type: array
          items:
            type: object
            properties:
              mac:
                type: string
              role:
                type: string
              roleAttributes:
                type: object
                properties:
                  applications:
                    type: object
                    properties:
                      access:
                        type: object
                        properties:
                          owned:
                            type: boolean
                          required:
                            type: boolean
                          supported:
                            type: boolean
                      connect:
                        type: object
                        properties:
                          owned:
                            type: boolean
                          required:
                            type: boolean
                          supported:
                            type: boolean
                      innerspace:
                        type: object
                        properties:
                          owned:
                            type: boolean
                          required:
                            type: boolean
                          supported:
                            type: boolean
                      network:
                        type: object
                        properties:
                          owned:
                            type: boolean
                          required:
                            type: boolean
                          supported:
                            type: boolean
                      protect:
                        type: object
                        properties:
                          owned:
                            type: boolean
                          required:
                            type: boolean
                          supported:
                            type: boolean
                      talk:
                        type: object
                        properties:
                          owned:
                            type: boolean
                          required:
                            type: boolean
                          supported:
                            type: boolean
                  candidateRoles:
                    type: array
                    items:
                      type: string
                  connectedState:
                    type: string
                  connectedStateLastChanged:
                    type: string
              sysId:
                type: integer
                format: int32
        controllers:
          type: array
          items:
            type: string
        email:
          type: string
        features:
          type: object
          properties:
            deviceGroups:
              type: boolean
            floorplan:
              type: object
              properties:
                canEdit:
                  type: boolean
                canView:
                  type: boolean
            manageApplications:
              type: boolean
            notifications:
              type: boolean
            pion:
              type: boolean
            webrtc:
              type: object
              properties:
                iceRestart:
                  type: boolean
                mediaStreams:
                  type: boolean
                twoWayAudio:
                  type: boolean
        fullName:
          type: string
        localId:
          type: string
        permissions:
          type: object
          properties:
            network.management:
              type: array
              items:
                type: string
            protect.management:
              type: array
              items:
                type: string
            system.management.location:
              type: array
              items:
                type: string
            system.management.user:
              type: array
              items:
                type: string
        role:
          type: string
        roleId:
          type: string
        status:
          type: string

    ReportedState:
      type: object
      properties:
        anonid:
          type: string
        apps:
          type: array
          items:
            type: object
            properties:
              controllerStatus:
                type: string
              name:
                type: string
              port:
                type: integer
                format: int32
              swaiVersion:
                type: integer
                format: int32
              type:
                type: string
              version:
                type: string
        availableChannels:
          type: array
          items:
            type: string
        consolesOnSameLocalNetwork:
          type: array
          items:
            type: object
            properties:
        controller_uuid:
          type: string
        controllers:
          type: array
          items:
            type: object
            properties:
              abridged:
                type: boolean
              controllerStatus:
                type: string
              initialDeviceListSynced:
                type: boolean
              installState:
                type: string
              isConfigured:
                type: boolean
              isInstalled:
                type: boolean
              isRunning:
                type: boolean
              name:
                type: string
              port:
                type: integer
                format: int32
              releaseChannel:
                type: string
              required:
                type: boolean
              state:
                type: string
              status:
                type: string
              statusMessage:
                type: string
              swaiVersion:
                type: integer
                format: int32
              type:
                type: string
              uiVersion:
                type: string
              unadoptedDevices:
                type: array
                items:
                  type: object
                  properties:
              updatable:
                type: boolean
              updateAvailable:
                type: string
                format: nullable
              version:
                type: string
              features:
                type: object
                properties:
                  stackable:
                    type: boolean
              installable:
                type: boolean
              isGeofencingEnabled:
                type: boolean
              restorePercentage:
                type: integer
                format: int32
        country:
          type: integer
          format: int32
        deviceErrorCode:
          type: string
          format: nullable
        deviceState:
          type: string
        deviceStateLastChanged:
          type: integer
          format: int32
        directConnectDomain:
          type: string
        features:
          type: object
          properties:
            cloud:
              type: object
              properties:
                applicationEvents:
                  type: boolean
                applicationEventsHttp:
                  type: boolean
            cloudBackup:
              type: boolean
            deviceList:
              type: object
              properties:
                autolinkDevices:
                  type: boolean
                partialUpdates:
                  type: boolean
                ucp4Events:
                  type: boolean
            directRemoteConnection:
              type: boolean
            hasGateway:
              type: boolean
            hasLCM:
              type: boolean
            hasLED:
              type: boolean
            infoApis:
              type: object
              properties:
                firmwareUpdate:
                  type: boolean
            isAutomaticFailoverAvailable:
              type: boolean
            mfa:
              type: boolean
            notifications:
              type: boolean
            sharedTokens:
              type: boolean
            supportForm:
              type: boolean
            teleport:
              type: boolean
            teleportState:
              type: string
            uidService:
              type: boolean
        firmwareUpdate:
          type: object
          properties:
            latestAvailableVersion:
              type: string
              format: nullable
        hardware:
          type: object
          properties:
            bom:
              type: string
            cpu.id:
              type: string
            debianCodename:
              type: string
            firmwareVersion:
              type: string
            hwrev:
              type: integer
              format: int32
            mac:
              type: string
            name:
              type: string
            qrid:
              type: string
            reboot:
              type: string
            serialno:
              type: string
            shortname:
              type: string
            subtype:
              type: string
            sysid:
              type: integer
              format: int32
            upgrade:
              type: string
            uuid:
              type: string
        host_type:
          type: integer
          format: int32
        hostname:
          type: string
        internetIssues5min:
          type: object
          properties:
            periods:
              type: array
              items:
                type: object
                properties:
                  index:
                    type: integer
                    format: int32
        ip:
          type: string
        ipAddrs:
          type: array
          items:
            type: string
        isStacked:
          type: boolean
        location:
          type: object
          properties:
            lat:
              type: number
            long:
              type: number
            radius:
              type: integer
              format: int32
            text:
              type: string
        mac:
          type: string
        mgmt_port:
          type: integer
          format: int32
        name:
          type: string
        releaseChannel:
          type: string
        state:
          type: string
        timezone:
          type: string
        uidb:
          type: object
          properties:
            guid:
              type: string
            id:
              type: string
            images:
              type: object
              properties:
                default:
                  type: string
                nopadding:
                  type: string
                topology:
                  type: string
        unadoptedUnifiOSDevices:
          type: array
          items:
            type: object
            properties:
        version:
          type: string

    Error:
      type: object
      properties:
        code:
          type: string
        httpStatusCode:
          type: integer
        message:
          type: string
        traceId:
          type: string
  
  securitySchemes:
    api_key:
      type: apiKey
      name: X-API-KEY
      in: header
